footer{
    height: 40vh;
    background-color:  #ffcf47;
    margin-top: 1px;
    overflow: hidden;
}


.info {
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    border-top: 5px solid #ffcf47;
    text-align: center;
}
.web{
    width: 100%;
}
.grid-web{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px solid #ffcf47;
}
.footer-h2{
    color: white;
    padding-top: 10px;
    font-size: 2vw;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507) !important;
}
.footer-nomes{
    color: rgb(255, 255, 255);
    padding-left: 10px;
    font-size: 1.3vw;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507) !important;
}
.icons {
    color: rgb(255, 255, 255) !important;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507) !important;
    font-size: 1.5vw !important;
    padding-bottom: 5px;
}




.game{
    width: 100%;
}
.dev{
    width: 100%;
}




@media only screen and (max-width: 480px){
    footer {
        height: 90vh;
    }

    .info{
        flex-direction: column;
    }

    .grid-web {
        border-right: 0px solid #ffcf47;
    }

    .footer-h2 {
        font-size: 1.8rem;
    }

    .footer-nomes{
        font-size: 1rem;
    }
}