.main {
    margin-top: 1px;
    background-color: #ffcf47;
    padding-top: 10px;
    padding-bottom: 10vh;
    border-top: #8a704b solid 5px;
    border-bottom: #8a704b solid 5px;
}
.principal {
    width: 85vw;
    padding: 5vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    border: 5px solid #b49463;
    box-shadow: 0px 0px 10px #333;
    background-image: url(../img/fundoC.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-sobre {
    display: flex;
    flex-direction: column;
}
.grid-teste{
    display: flex;
    flex-direction: row-reverse;
}
.b1 { 
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tx h2 {
    color: rgb(255, 255, 255);
    border-left: 5px solid #ffcf47;
    padding-left: 15px;
    font-size: 2rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}
.tx p {
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 1.5vmax;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}

.b2 {     
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    max-width: 100%;
    height: auto;
    border: 1px solid #ffcf47;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #333;
}

.grid-teste2{
    display: flex;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.b3{ 
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-h2{
    text-align: end;
    border-right: 5px solid #ffcf47 !important;
    padding-right: 15px !important;
    border-left: 0px solid #ffcf47 !important;
    padding-left: 0px !important;
}
.b4 {
    padding: 10px; 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-video{

    height: 100%;
    width: 100%;
}

.videp-teaser{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.videp-teaserT{
    height: auto;
    width: 80%;
}

.grid-teaser{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.teaser{
    height: auto;
    width: 50%;

    text-align: center;
    border: 1px solid #ffcf47;
    padding-left: 0px !important;
    border-radius: 50px;
    background: rgba(51, 51, 51, 0.5);
}




















@media only screen and (max-width: 480px) {

    .grid-teste {
        display: flex;
        flex-direction: column-reverse;
    }

    .b1{
        width: 100%;
    }
    .b2 {
        width: 100%;
    }

    .grid-teste2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .b3{
        width: 100%;
    }
    .b4 {
        width: 100%;
    }
}



/*////////////////////////////////////////////////////////////////////////////////////////////////    MOVEL*/

@media only screen and (max-width: 480px){
    .principal {
        width: 95%;
    }
    .tx p{
        padding: 0px;
        font-size: 4vw;
    }
    .tx h2 {
        font-size: 1.5rem;
    }

    .main-h2{
        text-align: start !important;
        border-right: 0px solid #ffcf47 !important;
        padding-right: 0px !important;
        border-left: 5px solid #ffcf47 !important;
        padding-left: 15px !important;
    }

    .videp-teaserT{
        height: auto;
        width: 100%;
    }

}