.menu-flutuante{

    padding: 5px;
    position: fixed;

    margin-bottom: 10px;
    left: 79%;
    right: 2%;
    bottom: 0%;

    border-radius: 15px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);

    background-repeat: no-repeat;
    background-size: cover;



    z-index: 400;


}


.grid-flutuante{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svgApple{
    overflow: hidden;
    width: 160px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.text-war {

    margin-left: 10px;
    margin-right: 10px;
  
}

.spinner {
    color: #f8f9fa!important;
    display: inline-block;
    width: 1.5rem; 
    height: 1.5rem;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 1;
    margin: 1px;
    margin-left: 1vh;
    /*
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
    */
}

.svgGiga {
    position: absolute;
    top: -150px;
    right: 80vw;
    z-index: 0;
}

.svgGiga2 {
    position: absolute;
    top: 150px;
    right: 80vw;
    z-index: 0;
}

.svgGiga3 {
    position: absolute;
    top: 450px;
    right: 80vw;
    z-index: 0;
}

.svgGiga4 {
    position: absolute;
    top: 750px;
    right: 80vw;
    z-index: 0;
}

.svgGiga5 {
    position: absolute;
    top: 1050px;
    right: 80vw;
    z-index: 0;
}












/*////////////////////////////////////////////////////////////////////////////////////////////////    MOVEL*/

@media only screen and (max-width: 480px){
    body{
        margin-top: 50px !important;
    }

    .menu-flutuante {
        padding: 0px;
        position: fixed;
        margin-bottom: 0px;
        left: 0%;
        right: 0%;
        bottom: auto;
        top: 0%;

        border-radius: 0px;
        border: 0px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 400;
    }

    .svgApple {
        overflow: hidden;
        width: 185px;
        max-width: 100%;
        height: auto;
    }

    

    .grid-flutuante {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
