*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;

}







.sobre-flutuante{

    position: absolute;

    margin-right: auto;
    margin-left: auto;

    border-radius: 10px 10px 50px 50px;

    border: 5px solid #ffcf47;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);

    background-image: radial-gradient(farthest-corner at 2000px 450px , #2535c0 0%, #333 100%);

    top: 99%; 
    left: 0%;
    right: 0%;
}

.sobre-flutuante h1{
    font-size: 3rem;
    letter-spacing: 20px; 

}
















.grid-container {
    position: relative;

    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 1px;
    grid-template-areas:
      "a1 a2";
}

.a1 { 
    grid-area: a1;
    background-image: url(/img/fundo.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-right: 10px solid #ffcf47;
}
.a1 h1 {
    letter-spacing: 5px;
    font-size: 5vw;
    text-align: center;
    font-family: 'Bangers', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 1px rgb(0, 0, 0);
}
.grid-a1 {
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0% 10%;
}
.desc { 
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.desc h2 {
    font-family: 'Baloo 2', cursive;
    color: rgb(255, 255, 255);
    border-left: 10px solid#ffcf47;
    padding-left: 15px;
    font-size: 3rem;
    text-shadow: 4px 4px 4px rgba(51, 51, 51, 0.5);
}
.desc p {
    font-family: 'Baloo 2', cursive;
    text-align: justify;
    color: rgb(255, 255, 255);
    margin-bottom: 0rem;
    font-size: 1.5vmax;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}
.personagem { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .bichos-grid{
     align-items: center;
     justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 30px;
    grid-template-areas:
      "p1 p2 p3 p4"
      "p5 p6 p7 p8";

    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
}
.quadrado{

    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 7vw;

    display: flex;
    justify-content: center;
    align-items: center;


    background: #9a7f54;

    border: 3px solid #b49463;

    border-left: 10px solid #5f4b30;
    border-left: 5px solid #ffcf47;

    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: .1s;
}
.quadrado:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    background: #ffcf47;
}
.img2{
    width: 60%;
}







.a2 { 
    overflow: hidden;

    grid-area: a2;
    background-color: #ffcf47;
    border-left: 10px solid #8a704b;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome-personagem{
    z-index: 3;
    font-family: 'Baloo 2', cursive;
    color: rgb(255, 255, 255);
    border: 5px solid#ffffff;
    padding-left: 15px;
    font-size: 3rem;
    text-shadow: 4px 4px 4px rgba(51, 51, 51, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 25px;
    text-transform: uppercase;
}
.svg1{
    position: absolute;
    top: 30px;

}

.img1{
    padding-top: 100px;
    overflow: hidden;
    width: 380px;

    max-width: 100%;
    height: auto;
    z-index: 2;
}

.slide-top{animation:slide-top 2s linear infinite alternate-reverse}

@keyframes slide-top{
    0%{
        transform:translateX(0)
    }
    100%{transform:translateX(-30px)}
}

.slide-top2{animation:slide-top 4s linear infinite alternate-reverse}

@keyframes slide-top{
    0%{transform:translateX(-30px)}
    100%{transform:translateX(0)}
}











.p1 { grid-area: p1; }
.p2 { grid-area: p2; }
.p3 { grid-area: p3; }
.p4 { grid-area: p4; }
.p5 { grid-area: p5; }
.p6 { grid-area: p6; }
.p7 { grid-area: p7; }
.p8 { grid-area: p8; }




















/*          SOBRE */
.main {
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
}

.principal {
    width: 80%;

    margin-right: auto;
    margin-left: auto;

    border-radius: 50px 50px 50px 50px;

    border: 10px solid #FFF;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);

    background-image: radial-gradient(farthest-corner at 2000px 450px , #2535c0 0%, #333 100%);

    top: 0%; 
    left: 0%;
    right: 0%;
}


.principal h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Bangers', cursive;
    color: rgb(255, 255, 255);
    padding: 11px;
    letter-spacing: 20px;
    border-radius: 35px 35px 0px 0px;
    text-shadow: 1px 10px 1px rgb(0, 0, 0);
}


.grid-teste{
    display: flex;
    padding-top: 20px;
}
.grid-sobre {
    margin: 0px;
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.b1 { 
    padding-left: 50px;
    width: 50%;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.b2 { 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.b3{ 
    padding-left: 50px;
    width: 50%;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.b4 { 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}




.grid-video{
text-align: center;

}

.video{
    max-width: 100%; 
}
.teaser {
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 35px !important;
    color: rgb(255, 255, 255);
    border-left: 5px solid rgb(43, 255, 0);
    border-right: 5px solid rgb(43, 255, 0);
}



/*P E H2 do sobre*/
.tx h2 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border-left: 5px solid rgb(43, 255, 0);
    padding-left: 15px;
}
.tx p {
    padding: 15px;
    text-align: justify;
    color: rgb(255, 255, 255);
}


@media only screen and (max-width: 800px) {
    .img{
        display: none;
    }
    .b1{
        width: 100%;
    }
    .b2 {
        width: 0%;
    }
    .b3{
        width: 100%;
    }
    .b4 {
        width: 0%;
    }
}










/* footer */
.info {
    background-image: radial-gradient(farthest-corner at 2000px 450px , #2535c0 0%, #333 100%);
    height: 40vh;
    border-top: 10px solid rgb(255, 255, 255); 
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}