*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}




.grid-container {
    position: relative;

    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 1px;
    grid-template-areas:
      "a1 a2";
}

.a1 { 
    grid-area: a1;
    background-image: url(./img/fundoC.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-right: 5px solid #ffcf47;
    border-bottom: 5px solid #ffcf47;
}
.a1 h1 {
    letter-spacing: 5px;
    font-size: 5vw;
    text-align: center;
    font-family: 'Bangers', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 1px rgb(0, 0, 0);
}
.grid-a1 {
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0% 10%;
}
.desc { 
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.desc h2 {
    color: rgb(255, 255, 255);
    border-left: 5px solid#ffcf47;
    padding-left: 15px;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(51, 51, 51, 0.5);
}
.desc p {
    text-align: justify;
    color: rgb(255, 255, 255);
    margin-bottom: 0rem;
    font-size: 1.5vmax;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}
.personagem { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .bichos-grid{
     align-items: center;
     justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 30px;
    grid-template-areas:
      "p1 p2 p3 p4"
      "p5 p6 p7 p8";

    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
}
.quadrado{

    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 7vw;

    display: flex;
    justify-content: center;
    align-items: center;


    background: #9a7f54;

    border: 2px solid #b49463;
    border-left: 10px solid #5f4b30;
    border-left: 3px solid #ffcf47;
    border-radius: 30px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: .1s;
}
.quadrado:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    background: #ffcf47;
}
.img2{
    width: 60%;
}







.a2 { 
    overflow: hidden;

    grid-area: a2;
    background-color: #ffcf47;
    border-left: 5px solid #8a704b;
    border-bottom: 5px solid #ffcf47;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome-personagem{
    z-index: 3;
    color: rgb(255, 255, 255);
    border: 5px solid#ffffff;
    padding-left: 15px;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(51, 51, 51, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 25px;
    text-transform: uppercase;
}
.svg1{
    position: absolute;
    top: 30px;

}

.img1{
    padding-top: 50px;
    overflow: hidden;
    width: 300px;

    max-width: 100%;
    height: auto;
    z-index: 2;
}

.slide-top{animation:slide-top 2s linear infinite alternate-reverse}

@keyframes slide-top{
    0%{
        transform:translateX(0)
    }
    100%{transform:translateX(-30px)}
}

.slide-top2{animation:slide-top 4s linear infinite alternate-reverse}

@keyframes slide-top{
    0%{transform:translateX(-30px)}
    100%{transform:translateX(0)}
}



.p1 { grid-area: p1; }
.p2 { grid-area: p2; }
.p3 { grid-area: p3; }
.p4 { grid-area: p4; }
.p5 { grid-area: p5; }
.p6 { grid-area: p6; }
.p7 { grid-area: p7; }
.p8 { grid-area: p8; }



/*Movel*/



@media only screen and (max-width: 480px){
    .grid-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .img2{
        width: 70%;
    }

    .a1 {
        height: 60%;
        background-image: url(./img/fundoC.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-right: 0px solid #ffcf47;
        border-bottom: 5px solid #ffcf47;
    }
    .a1 h1 {
        letter-spacing: 5px;
        font-size: 2rem;

        text-shadow: 3px 3px 0px rgb(51, 51, 51);
        margin-top: 10px;
    }

    .grid-a1 {
        height: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 0% 5%;
    }
    .desc h2 {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .desc p {
        font-size: 4vw;
    }


    .bichos-grid {
        align-items: end;
        gap: 0px 5px;

    }

    .quadrado {
        height: auto;
    }



    .a2 {
        height: 40%;
        overflow: hidden;

        background-color: #ffcf47;
        border-left: 0px solid #8a704b;
        border-top: 5px solid #8a704b;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }


    .nome-personagem {
        border: 2.5px solid#ffffff;
        font-size: 1.5rem;
        text-shadow: 4px 4px 4px rgba(51, 51, 51, 0.5);
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px 30px;
        text-transform: uppercase;
        display: none;
    }

    .img1 {
        padding-bottom: 10px;
        padding-top: 0px;
        overflow: hidden;
        width: 225px;
        max-width: 55vw;
        height: auto;
        z-index: 2;

    }

    .svg1 {
        position: absolute;
        top: -50px;
    }


    .i-grid{
        width: 100%;
        height: 100%;
        background-color: rgb(191, 12, 207);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }

    @media only screen and (max-height: 800px){
        .grid-container {
            height: 110vh;
            display: flex;
            flex-direction: column;
        }
    }

}













































/*          SOBRE */


video {
    max-width: 70%;
    height: auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px #333;
}


.main {
    margin-top: 1px;
    background-color: #ffcf47;
    padding-top: 10px;
}

.principal {
    width: 90%;

    margin-right: auto;
    margin-left: auto;

    border-radius: 25px;

    border: 5px solid #b49463;

    box-shadow: 0px 0px 10px #333;


    background-image: url(./img/fundoC.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.principal h1{
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 11px;
    letter-spacing: 20px;
    border-radius: 35px 35px 0px 0px;
    text-shadow: 1px 10px 1px rgb(0, 0, 0);
}


.grid-teste{
    display: flex;
    padding-top: 20px;
}
.grid-sobre {
    margin: 0px;
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.b1 { 
    padding-left: 0px;
    width: 50%;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.b2 { 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.b3{ 
    padding-left: 0px;
    width: 50%;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.b4 { 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}




.grid-video{
text-align: center;

}

.video{
    max-width: 100%; 
}
.teaser {
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 35px !important;
    color: rgb(255, 255, 255);
    border-left: 5px solid #ffcf47;
    border-right: 5px solid #ffcf47;
}



/*P E H2 do sobre*/
.tx h2 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border-left: 5px solid #ffcf47;
    padding-left: 15px;
}
.tx p {
    padding: 15px;
    text-align: justify;
    color: rgb(255, 255, 255);
}


@media only screen and (max-width: 800px) {
    .img{
        display: none;
    }
    .b1{
        width: 100%;
    }
    .b2 {
        width: 0%;
    }
    .b3{
        width: 100%;
    }
    .b4 {
        width: 0%;
    }
}










/* footer */
.info {
    background-image: radial-gradient(farthest-corner at 2000px 450px , #2535c0 0%, #333 100%);
    height: 40vh;
    border-top: 10px solid rgb(255, 255, 255); 
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}